<ion-header>
  <ion-toolbar>
    <ion-title>RUTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="page">

  <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Selecciona tu ruta: </ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Ruta 1</ion-label>
          <ion-radio (ionSelect)="radioChecked()" slot="start" value="ruta1" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Ruta 2</ion-label>
          <ion-radio (ionSelect)="radioChecked()" slot="start" value="ruta2"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Ruta 10</ion-label>
          <ion-radio (ionSelect)="radioChecked()" slot="start" value="ruta10"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Ruta 28</ion-label>
            <ion-radio (ionSelect)="radioChecked()" slot="start" value="ruta28"></ion-radio>
        </ion-item>
        

      </ion-radio-group>
    </ion-list>
</ion-content>


